@model LoyaltyRewardsApp.Models.PromosyonKodu

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-4" style="max-width: 600px;">
    <div class="card shadow border-danger">
        <div class="card-header bg-danger text-white">
            <h4 class="mb-0">🗑️ Do You Want to Delete the Promotion Code?</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Kod)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Kod)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.PuanDegeri)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.PuanDegeri)
                </dd>

                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.KullanildiMi)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.KullanildiMi)
                </dd>
            </dl>
        </div>

        <div class="card-footer text-center">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />

                <button type="submit" class="btn btn-danger btn-lg px-4 me-2">
                    Yes, Delete
                </button>

                <a asp-action="Index" class="btn btn-secondary btn-lg px-4">
                    Cancel
                </a>
            </form>
        </div>

    </div>
</div>