@model LoyaltyRewardsApp.Models.Musteri

@{
    ViewData["Title"] = "Ödül Vitrini";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">🎁 All Rewards</h2>
    <div class="row">
        @if (ViewBag.Oduller != null)
        {
            @foreach (var odul in ViewBag.Oduller as List<LoyaltyRewardsApp.Models.Odul>)
            {
                //bootstrapda ekran genişliği 12 birim (12/3=4) yani yanyana 3 tane için md-4 yaz
                <div class="col-md-4 mb-5">
                    <div class="card shadow-sm h-100" style="border-radius:15px">
                        <div class="card-header text-dark text-center"
                             style="background: linear-gradient(to right, #11998e, #38ef7d); border-top-right-radius: 15px; border-top-left-radius: 15px">
                            <strong>@odul.GerekliPuan Points</strong>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@odul.Baslik</h5>
                            <p class="card-text">@odul.Aciklama</p>

                            <div class="mt-auto">
                                @if (Model != null && Model.Email != null && Model.ToplamPuan >= odul.GerekliPuan)
                                {
                                    <button type="button" class="btn btn-dark w-100 fw-bold shadow-sm"
                                            style="background-color:#002b36;  border-radius: 50px;"
                                            data-bs-toggle="modal" data-bs-target="#modalOdul_@odul.Id">
                                        Claim Reward
                                    </button>
                                }
                                else if (Model == null || Model.Email == null)
                                {
                                    <a asp-controller="Hesap" asp-action="Giris" class="btn btn-dark w-100 fw-bold shadow-sm"
                                       style="background-color: #002b36; border-radius: 50px;">
                                        Login to Get Reward
                                    </a>
                                }
                                else
                                {
                                    <button class="btn btn-secondary w-100" style="border-radius: 50px" disabled>Insufficient Point</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="modalOdul_@odul.Id" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Award Approval</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                            <div class="modal-body">
                                <p> You are about to receive the <strong>@odul.Baslik</strong> award.</p>
                                <p><strong>@odul.GerekliPuan</strong> points will be deducted from your score.</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <form asp-controller="Home" asp-action="OdulKullan" method="post">
                                    <input type="hidden" name="odulId" value="@odul.Id" />
                                    <button type="submit" class="btn btn-primary">Confirm</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>